.blogs-slider{
    .blog-card{
        border: 2px solid $accent-1;
        background: linear-gradient(135deg, #F6F1EE 0%, #FFFBF9 100%);
        backdrop-filter: blur(10px);  
        padding: 32px;
        margin: 0 15px;
        margin-bottom: 32px;
        @include media-query(1199px) {
            padding: 24px;
        }
        img{
            border-radius: 10px;
        }     
        h6{
            font-size: 18px;
            font-weight: 400;
            line-height: 141%;   
            @include media-query(1199px) {
                font-size: 16px;
            }           
        }
        h3{
            font-family: $font-sec;
            font-size: 32px;
            font-weight: 400;
            line-height: 120%; /* 38.4px */
            letter-spacing: -0.32px;   
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
                    line-clamp: 2; 
            -webkit-box-orient: vertical;   
            @include media-query(1199px) {
                font-size: 24px;
            }     
        }
        p{
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
                    line-clamp: 3; 
            -webkit-box-orient: vertical;    
        }
    }
    .slick-prev,
    .slick-next{
        &::after{
            font-family: $font-awesome;
            position: absolute;
            height: 36px;
            width: 36px;
            font-size: 22px;
            line-height: 36px;
            border-radius: 36px;
            background: $accent-1;
            color: $white;
            z-index: 10; 
            top: 48% !important;
            @include media-query(1399px) {
                background: transparent;
                color: $accent-1;
            }
        }
    }
    .slick-prev{
        &::after{
            content: '\f053';
            left: -32px !important;
            @include media-query(1399px) {
                left: -18px !important;
            }
        }
    }
    .slick-next{
        &::after{
            content: "\f054";
            right: -32px !important;
            @include media-query(1399px) {
                right: -18px !important;
            }
        }
    }
}

.blog-detail{
    padding: 64px 0;
    @include media-query(991px) {
        padding: 48px 15px;
    }
    .title{
        color: $black;
        font-family: $font-sec;
        font-size: 48px;
        font-weight: 400;
        line-height: 120%; 
        letter-spacing: -0.48px;    
        @media(max-width: 992px) {
            font-size: 42px;
        }
        @media(max-width: 767px) {
        font-size: 36px;
        }
        @media(max-width: 575px) {
        font-size: 32px;
        } 
    }
    ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px;
        li{
            display: flex;
            align-items: center;
            gap: 12px;
            i{
                font-size: 24px;
            }
        }
    }
    .quote{
        background-color: $accent-2;
        padding: 48px 64px;
        font-size: 32px;
        font-weight: 400;
        line-height: 120%; /* 38.4px */
        letter-spacing: -0.32px;
        color: $black;
        font-family: $font-sec;
        @media(max-width: 767px) {
            font-size: 28px;
            padding: 48px;
        }
        @media(max-width: 575px) {
            font-size: 25px;
            padding: 32px;
        } 
    }
}
.comments{
    @include media-query(991px) {
        padding: 0 15px;
    }
    .heading-title{
        color: $black;
        font-family: $font-sec;
        font-size: 48px;
        font-weight: 400;
        line-height: 120%; /* 57.6px */
        letter-spacing: -0.48px;
        @media(max-width: 992px) {
            font-size: 42px;
        }
        @media(max-width: 767px) {
        font-size: 36px;
        }
        @media(max-width: 575px) {
        font-size: 32px;
        }
    }
    .comment-box{
        display: flex;
        align-items: flex-start;
        gap: 24px;
        @media(max-width: 575px) {
            gap: 16px;
        } 
        img{
            @media(max-width: 575px) {
                width: 36px;
                height: 36px;
            } 
        }
        .top-line{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 8px;
            h6{
                font-size: 21px;
                font-weight: 700;
                line-height: 130%;   
                @media(max-width: 575px) {
                    font-size: 18px;
                }             
            }
        }
        button{
            span{
                font-size: 18px;
                font-weight: 400;
                line-height: 130%;               
            }
        }
        .write-comment-box{
            display: flex;
            align-items: flex-start;
            gap: 16px;
            width: 100%;
            margin-top: 16px;
            img{
                width: 32px;
                height: 32px;
                @media(max-width: 575px) {
                    width: 24px;
                    height: 24px;
                } 
            }
            form{
                display: contents;
            }
        }
        &.comment-reply{
            margin-left: 48px;
            @media(max-width: 575px) {
                margin-left: 24px;
            } 
        }
    }
    .comment-form{
        padding: 64px 0;
        @include media-query(991px) {
            padding: 48px 0px;
        }
    }
}