.reservation{
    background: url(../media/bg/reservation.png) no-repeat;
    background-size: cover;
    padding: 64px 0;
    border: 2px solid $accent-1;
    border-left: 0;
    border-right: 0;
    .content-block{
        border-radius: 400px 400px 0px 0px;
        background: url(../media/bg/form-bg.jpg);
        background-size: cover;
        padding: 140px 100px;
        max-width: 652px;
        margin: 0 auto;
        text-align: center;
        @include media-query(767px) {
            max-width: 550px;
            border-radius: 300px 300px 0px 0px;
            padding: 140px 70px 100px;
        } 
        @include media-query(575px) {
            margin: 0 32px;
            border-radius: 200px 200px 0px 0px;
            padding: 140px 48px 64px;
        } 
        @include media-query(492px) {
            margin: 0 16px;
            border-radius: 200px 200px 0px 0px;
            padding: 140px 24px 48px;
        } 
        h3{
            font-family: $font-sec;
            font-size: 48px;
            font-weight: 400;
            line-height: 120%; 
            letter-spacing: -0.48px; 
            color: $black;
            @include media-query(492px) {
                font-size: 36px;
            }          
        }
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 141%;
            color: $black;         
        }
        .possibilities{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 24px;
            @include media-query(575px) {
                flex-direction: column;
                gap: 8px;
                justify-content: flex-start;
            } 
              label{
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 140%;
                  letter-spacing: 0.32px;
                  color: $black;
                  input{
                      margin-right: 4px;
                  }                  
              }
              label:has(input[type='radio']) {
                  line-height: 1.1;
                  display: grid;
                  grid-template-columns: 1em auto;
                  gap: 8px;
                  cursor: pointer;
                
                  &:not( & ~ &) {
                    -webkit-margin-before: 1em;
                            margin-block-start: 1em;
                  }
                
                  > input[type='radio'] {
                    -webkit-appearance: none;
                       -moz-appearance: none;
                            appearance: none;
                    background: transparent;
                    border: 1px solid $black;
                    margin: 0;
                    font: inherit;
                    color: currentColor;
                
                    width: 20px;
                    height: 20px;
                    margin-top: 5 px;
                    border-radius: 50%;
                    transform: translateY(-0.075em);
                    
                    display: grid;
                    place-content: center;
                    cursor: pointer;
                
                    &::before {
                      content: "";
                      width: 0.58em;
                      height: 0.58em;
                      border-radius: 50%;
                      transform: scale(0);
                      transition: 120ms transform ease-in-out;
                      background-color: $accent-1;  
                    }
                
                    &::after {
                      content: "";
                      width: 2em;
                      height: 2em;
                      border-radius: 50%;
                      background-color: $accent-1; 
                      opacity: 0;
                      position: absolute;
                      z-index: -1;
                      inset-block-start: 50%;
                      inset-inline-start: 50%;
                      transform: translate(-50%, -50%);
                    }
                                  
                    &:is(:active):not(:checked) {
                      &::after {
                        background-color: $accent-1;
                      }
                    }
                
                    &:checked {
                      border-color: $accent-1;
                
                      &::after {
                        opacity: 0;
                      }
                
                      &::before {
                        transform: scale(2.4);
                      }
                
                      &:is(:hover,:focus) {
                        &::after {
                          background-color: $accent-1;
                        }
                      }
                
                      &:is(:active) {
                        &::after {
                          background-color: $accent-1; 
                        }
                      }
                    }
                
                    &:focus {
                      outline: unset;
                    }
                  }
              }
          }
    }
}